*{
    margin: 0;
    padding: 0;
    font-family: edu TAS Beginner;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: royalblue;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    z-index: 100;
    
}

.logo{
    font-size: 2rem;
    color: white;
    text-decoration: none;
    font-weight: bold;

}

.navbar a{
    position: relative;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
    color: white;
}






